body {
    background-color: white;
    font-size: 14px;
    color: #333;
    margin: 0;
}

h1,
h4 {
    margin: 0 0 10px 0;
    padding: 0;
}


h2.date {
    color: gray;
    font-family: "serif";
    font-size: 15px;
    margin: 10px 0 0 10px;
}

h3.blog-title {
    color: #6495ED;
    font-family: "serif";
    font-size: 20px;
    margin: 20px 0 0 10px;
}

h5.date {
    color: gray;
    margin: 15px 0 15px 10px;
}

h6.blog-title {
    color: #6495ED;
    font-family: "serif";
    font-size: 15px;
    margin: 20px 0 10px 10px;
}

.title {
    text-align: center;
}



.blog-title h6 {
    font-size: 15px;
    margin-top: 20px;
}

.article p {
    color: gray;
    margin: 25px 0 0 10px;
}

header {
    margin-top: 20px;
}

.container {
    width: 920px;
    margin: 0 auto 40px auto;
}

.header-title-area {
    margin-top: 40px;
    margin-bottom: 20px;
}

.logo {
    font-size: 32px;
    text-align: center;
}

.header-navigation {
    width: 100%;
    background-color: #333333;
    padding: 20px 0;
    margin-top: 0px;
}

.header-navigation li {
    float: left;
    padding: 0 30px;
    text-align: center;
    list-style-type: none;
}

.header-navigation li a {
    color: white;
    text-decoration: none;
}

.staff-photo {
    width: 150px;
    height: 150px;
    border: 5px solid #d3d3d3;
    float: left;
}

.new-article-photo {
    width: 70px;
    height: 70px;
    margin: 10px 0 10px 0;
    border: 5px solid #d3d3d3;
    float: left;
}

.articleborder {
    color: #d3d3d3;
}

.date h2 {
    color: gray;
    font-size: 15px;
    margin: 10px 0 0 10px;
}

.date h5 {
    color: gray;
    font-size: 13px;
    margin: 15px 0px 0 0px;
}

.article {
    /*margin:0 0 0 0%;*/
    display: block;
    float: left;
}

/*.article2 {*/
    /*width: 210px;*/
    /*height: 70px;*/
/*    display: block;*/
/*    float: left;*/
/*}*/


.left-contents {
    width: 600px;
    float: left;
}

.right-contents {
    width: 300px;
    float: left;
}

.right-title {
    font-size: 30px;
    font-weight: lighter;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.main:after {
    clear: both;
    display: block;
    content: " ";
}

.hr-footer {
    margin-top: 100px;
    width: 900px;
}

.copyright {
    text-align: center;
    color: gray;
    margin-top: 30px;
    margin-bottom: 50px;
}

.card-contents {
    width: 600px;
    height: 195px;
    display: block;
}

.card-contetns2 {
    width: 300px;
    height: 100px;
    display: block;
}
